.SingleAlbum {
  width: 100%;
  padding: 25px 15px;
  border: 1px solid #000;
  text-align: center;
  position: relative;

  &--list {
    display: flex;
    align-items: center;
    padding: 25px 50px;
    grid-gap: 15px;

    .SingleAlbum__buttons-wrapper {
      position: absolute;
      right: 35px;
      display: flex;
      grid-gap: 15px;
    }
  }

  &--grid {
    .SingleAlbum__image {
      margin-bottom: 15px;
    }

    .SingleAlbum__buttons-wrapper {
      .favourite {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .delete {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__buttons-wrapper {
    .favourite,
    .delete {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}